@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.auth{
    font-family: "Poppins", cursive;
    height: 100vh;
    width: 100%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .card{
        height: 80vh;
        width: 75%;
        background-color: #fff;
        position: relative;
        top: 10%;
        left: 10%;
       border: 1px solid #e9ecef;
       border-radius: 5px;
       text-align: center;
    }
    h1{
        margin: 10px 0;
    }
    p{
        margin-bottom: 10px;
    }
    form  input, .button{
        border: 1px solid #e9ecef;
        padding: .9em 1em;
        margin-bottom: 15px;
        width: 50%;
      }
      
      form input:focus{
        outline: none;
      }
      
      .button{
        background-color: #003049;
        color: #e9ecef;
        font-size: 1em;
        cursor: pointer;
      }

      i{
        margin-right: 5px;
        font-size: 20px;
      }

      img{
        width: 480px;
        height: 100%;
        object-fit: cover;
        align-self: flex-end;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: none;
      }
      
}